@import "./utils/variable.scss";

@import "./utils/mixins.scss";

/*@import "./libs/responsive.scss";*/



body {
    font-family: roboto, calibri, sans-serif;
    box-sizing: border-box;
    margin: 0;
}


// header

.header {
    margin-top: 1em;
    &__logo {
        justify-content: center;
        margin: 0.8em;
    }
}


.header-choice {
    padding: 1em 0;
    margin-top: 0;
    background-color: $border-color;
    text-align: center;
    & h1 {
        font-size: 1.4rem;
        font-weight: 900;
        font-family: roboto, calibri, sans-serif;
        margin: 1em;
    }
    & p {
        font-size: 1em;
        line-height: 1.2em;
        margin: 1em;
    }
}

.header-nav {
    background: linear-gradient(rgb(146, 145, 145), rgb(228, 227, 227), rgb(228, 227, 227), rgb(228, 227, 227), rgb(228, 227, 227));
    text-align: center;
    padding-bottom: 0.5em;
    & form {
        padding-top: 0.5em;
        text-align: center;
    }
        & input[type=text] {
            width: 150px;
            border: none;
            text-align: center;
            background-color: rgb(228, 227, 227);
            font-weight: bold;
            font-size: 1.2em;
            color: black;
        }
        & i {
            font-size: 1em;
        }
}

.button {
    @include button;
        & a {
        color: white;
        text-decoration: none;
        /*position: relative;
        z-index: 1;
        opacity: 1;}
        &:hover {
            &::after {
                content:"";
                background: lightness (linear-gradient ($color-secondaire, $color-primaire), 5);
                position: absolute;
                opacity: 0;
                transition: opacity 250ms;
                z-index: -1;
            }*/
    }
}


main {
    margin: 0;
}

.regles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    & h2 {
        @include titres;
    }
    & span {
        @include choice-number;
    }
    & p {
        justify-content: center;
        font-size: 1em;
        font-weight: bold;
        @include border-radius;
        margin: 1em;
        padding: 1em;
        &:hover {
            background-color: #f5c7e8a9;
            }
        & i {
            font-size: 1.2em;
            padding-right: 1em;
            color: rgb(146, 145, 145);
        }
    }

}

// restaurants

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $border-color;
    & h2 {
        @include titres;
        padding-top: 1em;
    }

    &-list {
        @include vignettes;
        position: relative;
        & figure {
            margin: 0;
        }
        & a {
            text-decoration: none;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 400ms;
            & a:hover {
            text-decoration: none;
            transform: scale(1.15);
            }
        }
        &__details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            @include details;
            & h3 {
                font-size: 1.2em;
                font-weight: bold;
            }
        }
        & img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 18px 18px 0 0;
        }

    }
}

/*.checked-box {
    @include checked;
}*/

.restaurants {
    padding-bottom: 2.5em;
}

.restaurants-list__new1 {
    @include new;
}

.restaurants-list__new2 {
    @include new;
}

.heart {
    font-size: 1.5em;   
    text-align: right;
    color: black;
    & i {
        position: relative;
        top: 0.6em;
        z-index: 1;
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient($color-secondaire, $color-primaire);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}


.footer {
    @include footer;
    flex-direction: column;
    & img {
        width: 100px;
        padding-bottom: 1.2em;
    }
        & i {
            flex-direction: wrap;
            padding-right: 0.8em;
        }
    & .fa-hands-helping {
        font-size: 0.8em;
    }
}

.footer-a {
    display: flex;
    flex-direction: column;
    padding-top: 0.3em;
    & a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}


// fiches restaurants


.header__logo {
    display: flex;
    flex-direction: row; 
}

.header-restaurant {
    position: relative;
    z-index: 1;
        & img {
        width: 100%;
    }
}

.menu {
    position: relative;
    @include menu;
    & h3 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    z-index: 2;
}

.menu_menus {

}

.trait {
    border: 2px $color-tertiaire solid;
    width: 3em;
}

.menu-title {
    @include resto-titre;
    & i {
        font-size: 1.5em;
        margin-right: 0.3em;
    }
}

.menu_soustitle {
    margin: 1em 1em 2em 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu-plats {
    @include menu-plats;
        & h4 {
        font-weight: bold;
        font-size: 1.1em;
        margin: 0;
    }
}

.menu-plats__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9em;
    line-height: 0.5em;
    margin-top: 0;
    & p {
        margin: 0.8em 0;
    }
}



@media screen and (min-width: 568px) {

    .regles {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        & h2 {
            text-align: center;
            width: 100%;
        }
        & p {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

    }


}

@media screen and (min-width: 767px) {


    .restaurants h2 {
        text-align: center;
    }

    .restos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        & .restaurants-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 350px;
        }
    }

    .footer {
        flex-direction: column;
        &-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .footer-a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu_menus {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
} 