@import "./utils/variable.scss";

@import "./utils/mixins.scss";

/*@import "./libs/responsive.scss";*/



body {
    font-family: roboto, calibri, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*.anim-loader {
    font-family: Shrikhand;
    font-size: 2em;
    text-align: center;
    height: 500px;
    line-height: 500px;
}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &-spinner {
        width: 10px;
        height: 30px;
        color: $color-tertiaire;
        animation: grow 1s linear 2s;
    }
    
}

.loader-spinner::before,
.loader-spinner span {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 10px;
    height: 30px;
    animation: grow 1s linear 2s;
}

.loader-spinner::before {
    left: 15px;
    animation-delay: -.66s;
    color: $color-primaire;
}

.loader-spinners span {
    left: 35px;
    animation-delay: -.33s;
    color: $color-secondaire;
}

@keyframes grow {
    0% {
        transform: scaleY(0); 
        opacity: 0;
    }
    50% {
        transform: scaleY(1); 
        opacity: 1;
    }
    100% {
        transform: scaleY(0); 
        opacity: 0;
    }
}
*/


// header

.header {
    margin-top: 1em;
    &__logo {
        text-align: center;
        margin: 0.8em;
    }
}


.header-choice {
    padding: 1em 0;
    margin-top: 0;
    background-color: $border-color;
    text-align: center;
    & h1 {
        font-size: 1.4rem;
        font-weight: 900;
        font-family: roboto, calibri, sans-serif;
        margin: 1em;
    }
    & p {
        font-size: 1em;
        line-height: 1.2em;
        margin: 1em;
    }
}

.header-nav {
    background: linear-gradient(rgb(168, 167, 167), 1%, rgb(238, 236, 236));
    text-align: center;
    padding-bottom: 0.5em;
    & form {
        padding-top: 0.5em;
        text-align: center;
    }
        & input[type=text] {
            width: 150px;
            border: none;
            text-align: center;
            background-color: rgb(228, 227, 227);
            font-weight: bold;
            font-size: 1.2em;
            color: black;
        }
        & i {
            font-size: 1em;
        }
}

.button {
    @include button;
    &:hover {
        animation: anim-shadow-button 0.3s both;
    }
    outline: none;
        & a {
        color: white;
        text-decoration: none;

    }
}

@keyframes anim-shadow-button {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
      opacity: 0.95;
    }
  }


main {
    margin: 0;
}

.regles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    margin-left: 1em;
    & h2 {
        @include titres;
    }
    & span {
        @include choice-number;
    }
    & p {
        justify-content: center;
        font-size: 1em;
        font-weight: bold;
        @include border-radius;
        margin: 1em;
        padding: 1em;
        cursor: pointer;
        &:hover {
            background: hsl(317, 100%, 95%);
        }
        & i {
            font-size: 1.2em;
            padding-right: 1em;
            color: rgb(146, 145, 145);
            &:hover {
                color: $color-primaire;
            }
        }
    }
}


// restaurants

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $border-color;
    & h2 {
        @include titres;
        padding-top: 1em;
    }
    &-list {
        @include vignettes;
        position: relative;
        & figure {
            margin: 0;
        }
        & a {
            text-decoration: none;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 400ms;
            & a:hover {
            text-decoration: none;
            transform: scale(1.15);
            }
        }
        &__details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            @include details;
            & h3 {
                font-size: 1.2em;
                font-weight: bold;
            }
        }
        & img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 18px 18px 0 0;
        }

    }
}

.restaurants {
    padding-bottom: 2.5em;
}

.restaurants-list__new1 {
    @include new;
}

.restaurants-list__new2 {
    @include new;
}

.index-heart {
    @include heart;
    & i {
        margin-top: 0.6em;
        &:hover {
            clip-path: polygon(51% 22%, 44% 10%, 33% 6%, 19% 6%, 6% 12%, 0 26%, 4% 46%, 11% 58%, 24% 72%, 36% 83%, 54% 98%, 69% 84%, 80% 72%, 91% 57%, 98% 45%, 99% 28%, 96% 12%, 84% 5%, 72% 5%, 60% 9%);
            background-image: $color-button;
            -webkit-text-fill-color: transparent;
            transition-duration: 300ms;
        }
    }
}

.footer {
    @include footer;
    flex-direction: column;
    & img {
        width: 100px;
        padding-bottom: 1.2em;
    }
        & i {
            flex-direction: wrap;
            padding-right: 0.8em;
        }
    & .fa-hands-helping {
        font-size: 0.8em;
    }
}

.footer-a {
    display: flex;
    flex-direction: column;
    padding-top: 0.3em;
    & a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}


// fiches restaurants


.header__logo {
    display: block;
    width: 100%;
    text-align: start;
    & a {
        cursor: pointer;
    }
    & i {
        display: inline-block;
        font-size: 1.5em;
        font-weight: 900;
        color: black;
        position: absolute;
        margin-right: 2rem;  
        text-align: start; 
    }
    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.header-restaurant {
    position: relative;
    z-index: 1;
        & img {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }
}    

.resto-heart {
    @include heart;
    & i {
        position: relative;
        &:hover {
            clip-path: polygon(51% 22%, 44% 10%, 33% 6%, 19% 6%, 6% 12%, 0 26%, 4% 46%, 11% 58%, 24% 72%, 36% 83%, 54% 98%, 69% 84%, 80% 72%, 91% 57%, 98% 45%, 99% 28%, 96% 12%, 84% 5%, 72% 5%, 60% 9%);
            background-image: $color-button;
            -webkit-text-fill-color: transparent;
            transition-duration: 300ms;
        }
    }
}


.menu {
    position: relative;
    background: white;
    @include menu;
    text-overflow: ellipsis;
    & h3 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    z-index: 2;
}


.trait {
    border: 2px $color-tertiaire solid;
    width: 3em;
}

.menu-title {
    @include resto-titre;
    & i {
        font-size: 1.5em;
        margin-right: 0.3em;
    }
}

.menu_soustitle {
    margin: 1em 1em 2em 1em;
}

.menu-plats {
    @include menu-plats;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-plats__details {
    display: inline;
    margin-top: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & h4 {
        font-weight: bold;
        font-size: 1.1em;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & p {
        margin: 0.8em 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.prix-valid {
    display: flex;
    flex-direction: row;
    text-align: right;
    cursor: pointer;
    text-overflow: ellipsis;
    transform: translateX(0px);
    transition: transform 1000ms ease 200ms;
    &:hover {
        transform: translateX(-80px);
        text-overflow: ellipsis;
    }
}

.menu-plats__prix { 
    font-weight: 800;
    font-size: 1.2em;
    padding-bottom: 0.5em;
    text-overflow: ellipsis;
    text-align: center;
    & i {
        font-size: 1.8em;
        opacity: 0;
        text-overflow: ellipsis;
        &:hover {
            color: grey;
            animation-name: valid;
            animation-duration: 2s;
            animation-fill-mode: both;
        }
    }
}

@keyframes valid {
    0% {
    opacity: 0;
    transform: translateX(20px);
    }
    100% {
    opacity: 1;
    transform: none;
    }
} 


.menu-plats__valid {
    border: 1px solid $color-tertiaire;
    border-radius: 0 10px 10px 0;
    background: $color-tertiaire;
    height: 100%;
    width: auto;
    font-weight: 800;
    font-size: 2.5em;
    margin: -0.3em 0 0.3em 1.2em;
    padding: 0.3em 0.3em 0 0.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute; 
}

.menu-plats__valid i {
    text-align: center;
    padding-top: 0.2em;
    color: white;
    transform: rotate(0deg);
    transform-origin: 50% 40%;
    transition: transform 1000ms;
    &:hover {
        transform: rotate(-360deg);
    }  
}


.bouton-commander {
    display: inline-block;
    text-align: center;
}

.button_resto {
    @include button;
    outline: none;
    opacity: 1;
    &:hover {
        animation: anim-shadow-button 0.3s both;
    }
        & a {
        color: white;
        text-decoration: none;
    }
}




@media screen and (min-width: 568px) {

    .regles {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        & h2 {
            text-align: center;
            width: 100%;
        }
        & p {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

    }


}

@media screen and (min-width: 767px) {


    .restaurants h2 {
        text-align: center;
    }

    .restos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        & .restaurants-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 350px;
        }
    }

    .footer {
        flex-direction: column;
        &-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .footer-a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu_menus {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
} 