@import "./utils/variable.scss";

@import "./utils/mixins.scss";

/*@import "./libs/responsive.scss";*/



body {
    font-family: roboto, calibri, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.loader-spinner {
    display: block;
    text-align: center;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    background-color: $border-color;
    z-index: 99;
    position: fixed;
}

.loader-spinner span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 25rem auto;
	background: $color-tertiaire;
    border-radius: 49px;
    z-index: 100;
	animation: loader-spinner 1s 5 both alternate;
}

#loader-spinner1 {
	animation-delay: 0s;
}

#loader-spinner2 {
	animation-delay: 0.45s;
}

#loader-spinner3 {
	animation-delay: 0.9s;
}



@keyframes loader-spinner {
	0% {
		width: 10px;
		height: 10px;
		background-color: $color-primaire;
		transform: translateY(0);
    }

	100% {
        width: 23px;
		height: 23px;
		background-color: $color-secondaire;
        transform: translateY(-20px);
        display: none;
        z-index: -100;

	}
}

.loader-spinner {
    opacity: 1;
    display: block;
    animation: loader-end 2s 2s both;
}

@keyframes loader-end {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
        z-index: -100;
    }
}


// header

.header {
    margin-top: 1em;
    &__logo {
        text-align: center;
        margin: 0.8em;
    }
}


.header-choice {
    padding: 1em 0;
    margin-top: 0;
    background-color: $border-color;
    text-align: center;
    & h1 {
        font-size: 1.4rem;
        font-weight: 900;
        font-family: roboto, calibri, sans-serif;
        margin: 1em;
    }
    & p {
        font-size: 1em;
        line-height: 1.2em;
        margin: 1em;
    }
}

.header-nav {
    background: linear-gradient(rgb(168, 167, 167), 1%, rgb(238, 236, 236));
    text-align: center;
    padding-bottom: 0.5em;
    & form {
        padding-top: 0.5em;
        text-align: center;
    }
        & input[type=text] {
            width: 150px;
            border: none;
            text-align: center;
            background-color: rgb(228, 227, 227);
            font-weight: bold;
            font-size: 1.2em;
            color: black;
        }
        & i {
            font-size: 1em;
        }
}

.button {
    @include button;
    &:hover {
        animation: anim-shadow-button 0.3s both;
    }
    outline: none;
        & a {
        color: white;
        text-decoration: none;
    }
}

@keyframes anim-shadow-button {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
      opacity: 0.95;
    }
  }


main {
    margin: 0;
}

.regles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    margin-left: 1em;
    & h2 {
        @include titres;
    }
    & span {
        @include choice-number;
    }
    & p {
        justify-content: center;
        font-size: 1em;
        font-weight: bold;
        @include border-radius;
        margin: 1em;
        padding: 1em;
        cursor: pointer;
        &:hover {
            background: hsl(317, 100%, 95%);
            & i {
                color: $color-primaire;
            }
        }
        & i {
            font-size: 1.2em;
            padding-right: 1em;
            color: rgb(146, 145, 145);
        }
    }
}


// restaurants


.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $border-color;
    & h2 {
        @include titres;
        padding-top: 1em;
    }
    &-list {
        @include vignettes;
        position: relative;
        & figure {
            margin: 0;
        }
        & a {
            text-decoration: none;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 400ms;
            & a:hover {
            text-decoration: none;
            transform: scale(1.15);
            }
        }
        &__details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            @include details;
            & h3 {
                font-size: 1.2em;
                font-weight: bold;
            }
        }
        & img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 18px 18px 0 0;
        }

    }
}

.restaurants {
    padding-bottom: 2.5em;
}

.restaurants-list__new1 {
    @include new;
}

.restaurants-list__new2 {
    @include new;
}

.index-heart {
    @include heart;
    & i {
        margin-top: 0.6em;
        &:hover {
            clip-path: polygon(51% 22%, 44% 10%, 33% 6%, 19% 6%, 6% 12%, 0 26%, 4% 46%, 11% 58%, 24% 72%, 36% 83%, 54% 98%, 69% 84%, 80% 72%, 91% 57%, 98% 45%, 99% 28%, 96% 12%, 84% 5%, 72% 5%, 60% 9%);
            background-image: $color-button;
            -webkit-text-fill-color: transparent;
            transition-duration: 70ms;
        }
    }
}

.footer {
    @include footer;
    flex-direction: column;
    & img {
        width: 100px;
        padding-bottom: 1.2em;
    }
        & i {
            flex-direction: wrap;
            padding-right: 0.8em;
        }
    & .fa-hands-helping {
        font-size: 0.8em;
    }
}

.footer-a {
    display: flex;
    flex-direction: column;
    padding-top: 0.3em;
    & a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}


// fiches restaurants


.header__logo {
    display: block;
    text-align: start;
    & a {
        cursor: pointer;
    }
    & i {
        display: inline-block;
        font-size: 1.5em;
        font-weight: 900;
        color: black;
        position: absolute;
        margin-right: 2rem;  
        text-align: start; 
    }
    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.header-restaurant {
    position: relative;
    z-index: 1;
        & img {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }
}    

.resto-heart {
    @include heart;
    & i {
        position: relative;
        &:hover {
            clip-path: polygon(51% 22%, 44% 10%, 33% 6%, 19% 6%, 6% 12%, 0 26%, 4% 46%, 11% 58%, 24% 72%, 36% 83%, 54% 98%, 69% 84%, 80% 72%, 91% 57%, 98% 45%, 99% 28%, 96% 12%, 84% 5%, 72% 5%, 60% 9%);
            background-image: $color-button;
            -webkit-text-fill-color: transparent;
            transition-duration: 70ms;
        }
    }
}

/*.animation-plats {
    animation: animation-plats 1000ms 3200s both;
    z-index: 99;
}
@keyframes animation-plats {
    0% {
        margin-bottom: -70px;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }
    100% {
        margin-bottom: 0px;
        opacity: 1;
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}*/
  
.menu {
    position: relative;
    background: white;
    @include menu;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    & h3 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    z-index: 2;
}


.trait {
    border: 2px $color-tertiaire solid;
    width: 3em;
}

.menu-title {
    @include resto-titre;
    & i {
        font-size: 1.5em;
        margin-right: 0.3em;
    }
}

.menu_soustitle {
    margin: 1em 1em 2em 1em;
}


/*
.anim-menu-plats {
    /*position: absolute;
    display: none;*/
    /*overflow: hidden;
    opacity: 1;
    animation: anim-menu-plats 2.5s forwards;
}

@keyframes anim-menus-plat {
    0% {
        opacity: 0;
        transform: translateY(0.2);
    }
    25% {
        margin-top: -70px;
        opacity: 0.3;
        transform: translateY(0.4);
    }
    50% {
        opacity: 0.6;
        transform: translateY(0.6);
    }
    75% {
        opacity: 1;
        transform: translateY(0.8);
    }
    100% {
        margin-top: 0;
        transform: translateY(1);
    }
}*/

/*.anim-menu-plats-end {

}*/
.menu-plats {
    @include menu-plats;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover .prix-valid {
        animation: valid 2s forwards;
    }
}

.menu-plats__details {
    display: inline;
    max-width: 280px;
    width: 100%;
    margin-top: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
    & h4 {
        font-weight: bold;
        font-size: 1.1em;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & p {
        margin: 0.8em 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}

.prix-valid {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-evenly;
    z-index: 2;
    position: relative;
    right: -4.2em;
}

@keyframes valid {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-4.1em);
        text-overflow: ellipsis;
    }
}

@keyframes i-rotate {
    0% {
        transform: rotate(72deg);
        transform: translateX(0);
    }
    25% {
        transform: rotate(144deg);
        transform: translateX(-0.5em);
    }
    50% {
        transform: rotate(216deg);
        transform: translateX(-1em);
    }
    75% {
        transform: rotate(288deg);
        transform: translateX(-1.5em);
    }
    100% {
        transform: rotate(360deg);
        transform: translateX(-2em);
    }
}

.menu-plats__prix { 
    font-weight: 800;
    font-size: 1.2em;
    margin-right: .5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    & i {
        font-size: 1.8em;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


.menu-plats__valid {
    border: 1px solid $color-tertiaire;
    background: $color-tertiaire;
    height: 100%;
    font-weight: 800;
    font-size: 2.5em;
    margin: -0.3em 0 0.3em 0;
    padding: 0.3em 0.3em 0 0.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    & .fa-check-circle {
        text-align: center;
        padding-top: 0.2em;
        color: white;
        transition: transform 2000ms;
        animation: i-rotate 1500ms ease-in both forwards;
        transform-origin: 50% 60%;
    }
}



.bouton-commander {
    display: inline-block;
    text-align: center;
}

.button_resto {
    @include button;
    outline: none;
    opacity: 1;
    &:hover {
        animation: anim-shadow-button 0.3s both;
    }
        & a {
        color: white;
        text-decoration: none;
    }
}




@media screen and (min-width: 568px) {

    .regles {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        & h2 {
            text-align: center;
            width: 100%;
        }
        & p {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

    }


}

@media screen and (min-width: 769px) {


    .restaurants h2 {
        text-align: center;
    }

    .restos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        & .restaurants-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 350px;
        }
    }

    .footer {
        flex-direction: column;
        &-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .footer-a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu_menus {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .menu_soustitle {
        max-width: 400px;
        width: 100%;
    }
} 

@media screen and (min-width: 1553px) {
    body {
        max-width: 1553px;
        width: 100%;
        height: auto;
        margin: 1em auto;
        padding-top: 0.2em;
        box-shadow: 0 0 10px black;
    }
}