/*@import "./libs/responsive.scss";*/
body {
  font-family: roboto, calibri, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.loader-spinner {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background-color: #f5f4f4;
  z-index: 99;
  position: fixed;
}

.loader-spinner span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 30rem auto;
  background: #99E2D0;
  border-radius: 49px;
  z-index: 100;
  animation: loader-spinner 1s 5 both alternate;
}

#loader-spinner1 {
  animation-delay: 0s;
}

#loader-spinner2 {
  animation-delay: 0.45s;
}

#loader-spinner3 {
  animation-delay: 0.9s;
}

@keyframes loader-spinner {
  0% {
    width: 10px;
    height: 10px;
    background-color: #9356DC;
    transform: translateY(0);
  }
  100% {
    width: 23px;
    height: 23px;
    background-color: #FF79DA;
    transform: translateY(-20px);
    display: none;
    z-index: -100;
  }
}
.loader-spinner {
  opacity: 1;
  display: block;
  animation: loader-end 2s 2s both;
}

@keyframes loader-end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -100;
  }
}
/*
.animation-page {
	animation: anim-accueil 0ms ease-in-out 2400ms reverse both;
}
/*.animation-restaurants:nth-child()*/
/*
@keyframes anim-accueil {
    0% {
      transform: translateY(0) rotateX(0deg);
    }
    100% {
      transform: translateY(-150px) rotateX(-90deg);
    }
  }*/
.header {
  margin-top: 1em;
}
.header__logo {
  text-align: center;
  margin: 0.8em;
}

.header-choice {
  padding: 1em 0;
  margin-top: 0;
  background-color: #f5f4f4;
  text-align: center;
}
.header-choice h1 {
  font-size: 1.4rem;
  font-weight: 900;
  font-family: roboto, calibri, sans-serif;
  margin: 1em;
}
.header-choice p {
  font-size: 1em;
  line-height: 1.2em;
  margin: 1em;
}

.header-nav {
  background: linear-gradient(#a8a7a7, 1%, #eeecec);
  text-align: center;
  padding-bottom: 0.5em;
}
.header-nav form {
  padding-top: 0.5em;
  text-align: center;
}
.header-nav input[type=text] {
  width: 150px;
  border: none;
  text-align: center;
  background-color: #e4e3e3;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}
.header-nav i {
  font-size: 1em;
}

.button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border-style: none;
  padding: 1em 2em;
  margin: 1.5em;
  transition: color 1s;
  outline: none;
}
.button:hover {
  animation: anim-shadow-button 0.3s both;
}
.button a {
  color: white;
  text-decoration: none;
}

@keyframes anim-shadow-button {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
    opacity: 0.95;
  }
}
main {
  margin: 0;
}

.regles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  margin-left: 1em;
}
.regles h2 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: roboto, calibri, sans-serif;
  margin: 1em 1em 0.5em 1em;
}
.regles span {
  color: white;
  border: 0 solid #9356DC;
  border-radius: 150%;
  background-color: #9356DC;
  text-align: center;
  padding: 0.4em 0.7em;
  margin: 0 1em 0 -2em;
}
.regles p {
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #f5f4f4;
  border-radius: 20px;
  box-shadow: -1px 1px 11px 5px rgba(0, 0, 0, 0.32);
  margin: 1em;
  padding: 1em;
  cursor: pointer;
}
.regles p:hover {
  background: #ffe6f8;
}
.regles p:hover i {
  color: #9356DC;
}
.regles p i {
  font-size: 1.2em;
  padding-right: 1em;
  color: #929191;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f4f4;
}
.restaurants h2 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: roboto, calibri, sans-serif;
  margin: 1em 1em 0.5em 1em;
  padding-top: 1em;
}
.restaurants-list {
  justify-content: center;
  border: 0 white solid;
  border-radius: 20px;
  box-shadow: 2px 2px 8px 2px #b1afaf;
  background-color: white;
  margin: 1em;
  height: auto;
  position: relative;
}
.restaurants-list figure {
  margin: 0;
}
.restaurants-list a {
  text-decoration: none;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.restaurants-list a a:hover {
  text-decoration: none;
  transform: scale(1.15);
}
.restaurants-list__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  margin: 0 1em 0.5em 1em;
  line-height: 0.5em;
  margin-top: -0.5em;
}
.restaurants-list__details h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.restaurants-list img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 18px 18px 0 0;
}

.restaurants {
  padding-bottom: 2.5em;
}

.restaurants-list__new1 {
  position: absolute;
  right: 1em;
  top: 1em;
  background: #99E2D0;
  border: 1px solid #99E2D0;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: #28967c;
}

.restaurants-list__new2 {
  position: absolute;
  right: 1em;
  top: 1em;
  background: #99E2D0;
  border: 1px solid #99E2D0;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: #28967c;
}

.index-heart {
  font-size: 1.5em;
  text-align: right;
}
.index-heart i {
  margin-top: 0.6em;
}
.index-heart i:hover {
  clip-path: polygon(51% 22%, 44% 10%, 33% 6%, 19% 6%, 6% 12%, 0 26%, 4% 46%, 11% 58%, 24% 72%, 36% 83%, 54% 98%, 69% 84%, 80% 72%, 91% 57%, 98% 45%, 99% 28%, 96% 12%, 84% 5%, 72% 5%, 60% 9%);
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  transition-duration: 300ms;
}

.footer {
  display: flex;
  padding: 2em 1em 2em 1.5em;
  background-color: #3a3939;
  flex-direction: column;
}
.footer img {
  width: 100px;
  padding-bottom: 1.2em;
}
.footer i {
  flex-direction: wrap;
  padding-right: 0.8em;
}
.footer .fa-hands-helping {
  font-size: 0.8em;
}

.footer-a {
  display: flex;
  flex-direction: column;
  padding-top: 0.3em;
}
.footer-a a {
  color: white;
  text-decoration: none;
}
.footer-a a:hover {
  text-decoration: none;
}

.header__logo {
  display: block;
  text-align: start;
}
.header__logo a {
  cursor: pointer;
}
.header__logo i {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 900;
  color: black;
  position: absolute;
  margin-right: 2rem;
  text-align: start;
}
.header__logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-restaurant {
  position: relative;
  z-index: 1;
}
.header-restaurant img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.resto-heart {
  font-size: 1.5em;
  text-align: right;
}
.resto-heart i {
  position: relative;
}
.resto-heart i:hover {
  clip-path: polygon(51% 22%, 44% 10%, 33% 6%, 19% 6%, 6% 12%, 0 26%, 4% 46%, 11% 58%, 24% 72%, 36% 83%, 54% 98%, 69% 84%, 80% 72%, 91% 57%, 98% 45%, 99% 28%, 96% 12%, 84% 5%, 72% 5%, 60% 9%);
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  transition-duration: 300ms;
}

.menu {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  margin: -3em 0 0 0;
  border: 1px solid #f5f4f4;
  border-radius: 30px 30px 0 0;
  background-color: #f5f4f4;
  text-overflow: ellipsis;
  z-index: 2;
}
.menu h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.trait {
  border: 2px #99E2D0 solid;
  width: 3em;
}

.menu-title {
  font-family: Shrikhand;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  margin: 0.5em 1em 0.5em 1em;
}
.menu-title i {
  font-size: 1.5em;
  margin-right: 0.3em;
}

.menu_soustitle {
  margin: 1em 1em 2em 1em;
}

.menu-plats {
  max-width: 736px;
  border: 0 solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 8px 2px #b1afaf;
  margin: 1em 0 0 0;
  padding: 0.8em 0em 0 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.menu-plats__details {
  display: inline;
  margin-top: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}
.menu-plats__details h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-plats__details p {
  margin: 0.8em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix-valid {
  display: flex;
  flex-direction: row;
  text-align: right;
  text-overflow: ellipsis;
  z-index: 2;
}

.menu-plats__prix {
  font-weight: 800;
  font-size: 1.2em;
  margin-right: 0.5em;
  text-overflow: ellipsis;
  text-align: right;
}
.menu-plats__prix i {
  font-size: 1.8em;
  opacity: 0;
  text-overflow: ellipsis;
}

.menu-plats__valid {
  border: 1px solid #99E2D0;
  background: #99E2D0;
  height: 100%;
  width: 50px;
  font-weight: 800;
  font-size: 2.5em;
  margin: -0.3em 0 0.3em 1.2em;
  padding: 0.3em 0.3em 0 0.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
}

.menu-plats__valid i {
  text-align: center;
  padding-top: 0.2em;
  color: white;
  /*transform-origin: 50% 60%;*/
}

.bouton-commander {
  display: inline-block;
  text-align: center;
}

.button_resto {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border-style: none;
  padding: 1em 2em;
  margin: 1.5em;
  transition: color 1s;
  outline: none;
  opacity: 1;
}
.button_resto:hover {
  animation: anim-shadow-button 0.3s both;
}
.button_resto a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 568px) {
  .regles {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .regles h2 {
    text-align: center;
    width: 100%;
  }
  .regles p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .restaurants h2 {
    text-align: center;
  }

  .restos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restos .restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 350px;
  }

  .footer {
    flex-direction: column;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu_menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .menu_soustitle {
    max-width: 400px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
