@mixin h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: roboto, calibri, sans-serif;
}

@mixin titres {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: roboto, calibri, sans-serif;
    margin: 1em 1em 0.5em 1em;
}

@mixin border-radius ($color: $border-color) {
    border: 1px solid $color;
    border-radius: 20px;
    box-shadow: -1px 1px 11px 5px rgba(0,0,0,0.32);
}

@mixin heart {
    font-size: 1.5em;   
    text-align: right;
}


@mixin button ($color: $color-secondaire) {
    background-image: $color-button;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    /*box-shadow: -1px 1px 11px 5px rgba(0,0,0,0.32);*/
    border-style: none;
    padding: 1em 2em;
    margin: 1.5em;
    transition: color 1s;
}

@mixin choice-number {
    color: white;
    border: 0 solid $color-primaire;
    border-radius: 20px;
    background-color: $color-primaire;
    text-align: center;
    width: 20px;
    height: auto;
    padding: 0.5em;
    margin: 0 1em 0 -2em;
}

@mixin vignettes {
    justify-content: center;
    border: 0 white solid;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 2px rgb(177, 175, 175);
    background-color: white;
    margin: 1em;
    height: auto;
}

@mixin new {
    position: absolute;
    right: 1em;
    top: 1em;
    background: $color-tertiaire;
    border: 1px solid $color-tertiaire;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 0.2em 0.5em 0.2em 0.5em;
    color: #28967c;
}

@mixin details {
    color: black;
    margin: 0 1em 0.5em 1em;
    line-height: 0.5em;
    margin-top: -0.5em;
}

@mixin footer {
    display: flex;
    padding: 2em 1em 2em 1.5em;
    background-color: rgb(58, 57, 57);
}

@mixin menu {
    display: flex;
    flex-direction: column;
    margin: -3em 0 0 0;
    border: 1px solid $border-color;
    border-radius: 30px 30px 0 0;
    background-color: $border-color;
}

@mixin resto-titre {
    font-family: Shrikhand;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    margin: 0.5em 1em 0.5em 1em;
}

@mixin menu-plats {
    max-width: 736px;
    border: 0 solid white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 8px 2px rgb(177, 175, 175);
    margin: 1em 0 0 0;
    padding: 0.8em 0em 0 0.8em;
} 


